---
layout: team
title: Team
header: Team
permalink: /about/team/
body_class: team
---
<h1>Our Team</h1>

<p>Meet the team that volunteer their time, expertise, and passion to build a thriving community.</p>
<div class="row card-grid">
  {% assign persons = site.data.team %}
  {% for person in persons %}
  <div class="col-sm-4">
    <div class="card">
      <figure>
        {% if person.image %}
          <img src="{{ site.url }}/assets/images/team/{{ person.image }}">
        {% else %}
          <img src="{{ site.url }}/assets/images/team/vacant.jpg">
        {% endif %}
      </figure>
      <div class="copy-holder">
        <h3>{{ person.name }}</h3>
        <p>{{ person.position }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
