---
layout: landing
title: About Us
header: About Us
group: navigation
permalink: /about/
body_class: about
sections:
  - title: YEPs Journey
    head: Learn More
    desc: YEP was founded in 2010 by three individuals who recognized the lack of effective networking platforms for the diverse Ethiopian professionals in the Washington Metropolitan area.
    image: assets/images/programs/leadership_team_2.jpg
    path: /about/history
  - title: Accomplishments
    head:  Learn More
    desc: For close to a decade, YEP has hosted numerous Guest Speakers, Networking events, Career Development workshops, New-comers Workshop and more.
    image: assets/images/programs/Empower_award.jpg
    path: /about/accomplishments
  - title: Team
    head: Learn More
    desc: Meet the members of the YEP team and learn more about their journey to join this mission-driven organization and the role they play.
    image: assets/images/programs/team_pic.jpg
    path: /about/team
---
{% include about-nav.html %}
<div class="prose bg-white">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="margin-top-0 margin-bottom-2">About</h1>
        <p style="font-size: 2.0rem; font-weight: 400; margin-bottom: 1.5em;">
           Founded in 2010, YEP is a 501(c)(3), non-profit, non-political, and non-religious organization that
            provides a broader platform for the Ethiopian diaspora across all professions and walks of life to connect, network,
            share experiences, exchange valuable resources and pursue community development initiatives.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <section class="page-head">
    <div class="container">
      <div class="col-sm-12 col-md-6">
          <p style="font-size: 2.0rem; font-weight: 400; margin-bottom: 1.5em;">
           YEP members are a diverse community of professionals who represent an array of cultures, careers, experiences, and demographics. YEP has equal number of women and men members and serves professionals, students, recent arrivals, entrepreneurs, and the general Ethiopian community who strive for growth, excellence and success.
          </p>
        <a href="/about/mission" class="btn btn-donate"> Mission &amp; Vision</a>
        </div>
      <div class="row">
        <div class="col-sm-10 col-md-6">
            <img src="/assets/images/hero/target_audience.jpg">
        </div>
      </div>
    </div>
  </section>
</div>
<div class="prose bg-white">
  <div class="overview">
    <div class="container pad-by-50">
      <section class="sub-navigation">
        <div class="container">
          <div class="row">
            {% for item in page.sections %}
            <div class="col-sm-5 col-md-4" style="margin-bottom: 1em;">
              <div class="card">
                <a href="{{ item.path }}">
                <figure>
                  <img src="{{ site.baseurl }}/{{ item.image }}">
                </figure>
                </a>
                <h3>{{ item.title }}</h3>
                <p>{{ item.desc }}</p>
                <a href="{{ item.path }}" class="btn btn-donate">{{ item.head }}</a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

