---
layout: landing
title: Events
header: Events
group: navigation
permalink: /events/
body_class: events
---
<div class="prose bg-white">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="page-title">Events</h1>
      </div>
      <div class="container">
        <p class="intro"> YEP events are designed to educate, entertain, and empower attendees through:</p>
        <ul>
          <li> </b> <class="intro"><b> <a href=https://yepnetwork.github.io/speakers/>Speaker Series:</a> </b> featuring an expert, leader, or influencer</li>
          <li> <b>Career Series: </b> tips and resources for success in the workplace or in business </li>
          <li> <b>Personal Development: </b> soft skills for a better quality of life </li>
          <li> <b>Diaspora Engagement: </b> panels that delve into specific issues and topics </li>
          <li> <b>Newcomer workshops: </b> for recent immigrants settling into new lives </li>
          <li> <b>Social activities: </b> happy hours and outdoor activities</li>
          <li> <b>Business Idea Competition: </b> provides a showcase event and business competition for entrepreneurs/small businesses owned by Ethiopians and Ethiopian-Americans that are making a positive economic impact on their community </li>
          <li> <b>Annual Gala: </b> host 300+ professionals to raise funds in support of future programs</li>
        </ul>
        <p class="intro" style="margin:2em 0 0 0"> Save your spot to our next event and browse past events to get an idea of our talks, workshops, social events, and much more. </p>
      </div>
    </div>
  </div>
</div>

{% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
<div class="overview">
  <section class="sub-navigation">
    <div class="container">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#menu1">Upcoming events</a></li>
        <li><a data-toggle="tab" href="#menu2">Past events</a></li>
      </ul>
      <div class="tab-content">
        <div id="menu1" class="tab-pane fade in active">
          <div class="row margin-top-2">
          {% for event in site.data.events %}
            {% capture eventtime %}{{event.date | date: '%s'}}{% endcapture %}
              {% if eventtime > nowunix %}
                <div class="event-item col-sm-5 col-md-4" style="">
                  <div class="card">
                    <a target="_blank" href="{{ event.url }}">
                      <figure>
                        <img src="{{ event.image }}">
                      </figure>
                    </a>
                    <h3>{{ event.title }}</h3>
                    <p>{{ event.date }}</p>
                    <p>{{ event.venue }}</p>
                    {% if event.url == '' %}
                    <a href="#" class="btn btn-default">Learn More</a>
                    {% else %}
                    <a target="_blank" href="{{ event.url }}" class="btn btn-default">Learn More</a>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
          {% endfor %}
          </div>
        </div>
        <div id="menu2" class="tab-pane fade">
          <div class="row margin-top-2">
          {% for event in site.data.events %}
            {% capture eventtime %}{{event.date | date: '%s'}}{% endcapture %}
              {% if eventtime < nowunix %}
                <div class="event-item col-sm-5 col-md-4" style="">
                  <div class="card">
                    <a target="_blank" href="{{ event.url }}">
                      <figure>
                        <img src="{{ event.image }}">
                      </figure>
                    </a>
                    <h3>{{ event.title }}</h3>
                    <p>{{ event.date }}</p>
                    <p>{{ event.venue }}</p>
                    <a target="_blank" href="{{ event.url }}" class="btn btn-default">Learn More</a>
                  </div>
                </div>
              {% endif %}
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
