---
layout: page
title: Events
header: Events
group: navigation
permalink: /events/
body_class: events
---
<!-- <div id="hero" style="background-image: url(/assets/images/events/women_power_hour.png); background-position: center 0px;">
    <div class="container text-center"> -->

  <div class="hero-overlay"></div> 
  <div class="hero-content-wrapper">
    <div class="container text-center"> 
      <h2>YEP Events</h2>
    </div>
  </div>
</div>

{% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}

<div class="bg-gray overview">
  <section class="sub-navigation">
    <div class="container">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#menu1">Upcoming events</a></li>
        <li><a data-toggle="tab" href="#menu2">Past events</a></li>
      </ul>
        <div class="tab-content">
        <div id="menu1" class="tab-pane fade in active">
          <div class="row margin-top-2">
          {% for event in site.data.events %}
            {% capture eventtime %}{{event.date | date: '%s'}}{% endcapture %}
              {% if eventtime > nowunix %}
                <div class="event-item col-sm-5 col-md-4" style="">
                  <div class="card">
                    <a target="_blank" href="{{ event.url }}">
                      <figure>
                        <img src="{{ event.image }}">
                      </figure>
                    </a>
                    <h3>{{ event.title }}</h3>
                    <p>{{ event.date }}</p>
                    <p>{{ event.venue }}</p>
                    {% if event.url == '' %}
                    <a href="#" class="btn btn-default">Learn More</a>
                    {% else %}
                    <a target="_blank" href="{{ event.url }}" class="btn btn-default">Learn More</a>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
          {% endfor %}
          </div>
        </div>
        <div id="menu2" class="tab-pane fade">
          <div class="row margin-top-2">
          {% for event in site.data.events %}
            {% capture eventtime %}{{event.date | date: '%s'}}{% endcapture %}
              {% if eventtime < nowunix %}
                <div class="event-item col-sm-5 col-md-4" style="">
                  <div class="card">
                    <a target="_blank" href="{{ event.url }}">
                      <figure>
                        <img src="{{ event.image }}">
                      </figure>
                    </a>
                    <h3>{{ event.title }}</h3>
                    <p>{{ event.date }}</p>
                    <p>{{ event.venue }}</p>
                    <a target="_blank" href="{{ event.url }}" class="btn btn-default">Learn More</a>
                  </div>
                </div>
              {% endif %}
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
