---
layout: default
body_class: front
---
<section class="hero" style="background-image: url(assets/images/hero/about_us_1.png)">
  <div class="inner">
    <div class="copy">
      <h1>The Future of Ethiopian Professionals</h1>
      <p>Securing the skills necessary to build a community for the next generation of thinkers and leaders.</p>
    </div>
  </div>
</section>

<div class="overview featured-programs">
  <section class="sub-navigation">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center margin-bottom-4">
          <h2 class="h1 section-head">Get Involved</h2>
          <p class="intro">Building a platform. Connecting the Ethiopian Diaspora</p>
        </div>
        {% assign programs = site.programs | where:'featured', 'true' %}
        {% for program in programs limit:3 %}
        <div class="col-sm-5 col-md-4">
          <div class="card">
            <a href="{{ program.url | prepend: site.baseurl }}">
            <figure>
              <img src="{{ "/assets/images/programs/" | prepend: site.baseurl }}{{ program.img }}">
            </figure>
            </a>
            <h3>{{ program.title }}</h3>
            <p>{{ program.description | strip_html | truncatewords:22 }}</p>
            <a href="{{ program.url | prepend: site.baseurl }}" class="btn btn-donate">Learn More</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</div>

<section id="email-signup" style="background: #1E8BC9">
  <div class="container" style="padding-top: 10px; padding-bottom: 10px;">
    <div class="row">
      <div class="col-md-12">
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
          <form action="https://yepnetworks.us11.list-manage.com/subscribe/post?u=5d936b18dafd103ed356a89c6&amp;id=620021804a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-horizontal hs-form" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <div class="col-md-4 col-md-offset-4">
                <div class="col-md-12">
                  <div class="mc-field-group col-md-6">
                    <label for="mce-FNAME" class="control-label">First Name  <span class="asterisk">*</span></label>
                    <input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
                  </div>
                  <div class="col-md-1"></div>
                  <div class="mc-field-group col-md-6">
                    <label for="mce-LNAME" class="control-label">Last Name  <span class="asterisk">*</span></label>
                    <input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mc-field-group col-md-12">
                    <label for="mce-EMAIL" class="control-label">Email Address <span class="asterisk">*</span></label>
                    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                  </div>
                </div>
                <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5d936b18dafd103ed356a89c6_620021804a" tabindex="-1" value=""></div>
                <div class="clear"></div>

                <div class="" style="padding-left: 30px;width:93%">
                  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="hs-button primary large">
                </div>
              </div>
            </div>
          </form>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='MMERGE3';ftypes[3]='radio';fnames[4]='MMERGE4';ftypes[4]='radio';fnames[5]='MMERGE5';ftypes[5]='dropdown';fnames[6]='MMERGE6';ftypes[6]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
        <!--End mc_embed_signup-->
      </div>
    </div>
  </div>
</section>

<section id="featured">
  <div class="container">
    <h2 class="h1 section-head" style="margin-bottom: 1em">Latest Activities</h2>
    <div class="row">
      {% for item in site.data.featured %}
        <div class="col-sm-6 col-md-3">
          <div class="card">
            <figure>
              <a href="#"><img src="{{ site.baseurl }}/{{ item.image }}" class="" alt="{{ item.title }}"></a>
              <h4>Read more</h4>
            </figure>
            <h3><a href="#" title="{{ item.title }}">{{ item.title }}</a></h3>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
