---
layout: default
body_class: front
---
<section class="hero" style="background-image: url(assets/images/hero/speaker-series-thomas-debass.jpg)">
  <div class="inner">
    <div class="copy">
      <h1>The Future of Ethiopian Professionals</h1>
      <p>Securing the skills necessary to build a community for the next generation of thinkers and leaders.</p>
    </div>
  </div>
</section>

<div class="overview featured-programs">
  <section class="sub-navigation">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center margin-bottom-4">
          <h2 class="h1 section-head">Get Involved</h2>
          <p class="intro">Building a platform. Connecting the Ethiopian Diaspora</p>
        </div>
        {% assign programs = site.programs | where:'featured', 'true' %}
        {% for program in programs limit:3 %}
        <div class="col-sm-5 col-md-4">
          <div class="card">
            <a href="{{ program.url | prepend: site.baseurl }}">
            <figure>
              <img src="{{ "/assets/images/programs/" | prepend: site.baseurl }}{{ program.img }}">
            </figure>
            </a>
            <h3>{{ program.title }}</h3>
            <p>{{ program.description | strip_html | truncatewords:22 }}</p>
            <a href="{{ program.url | prepend: site.baseurl }}" class="btn btn-donate">Learn More</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</div>

<section id="email-signup" style="background: #1E8BC9">
  <div class="container" style="padding-top: 75px; padding-bottom: 75px;">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="margin-top-0">Stay Connected</h2>
        <p class="text-muted text-center" style="color: #fff">Subscribe to Our Newsletter</p>
      </div>
      <div class="col-sm-6 col-sm-offset-3 margin-top-2">
        <div class="input-group input-group-lg">
          <input type="text" class="form-control" placeholder="Enter your email address">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button">Subscribe</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="featured">
  <div class="container">
    <h2 class="h1 section-head">News &amp; Updates</h2>
    <p class="intro">Learn about our latest activities</p>
    <div class="row">
      {% for item in site.data.featured %}
        <div class="col-sm-6 col-md-3">
          <div class="card">
            <figure>
              <a href="#"><img src="{{ site.baseurl }}/{{ item.image }}" class="" alt="{{ item.title }}"></a>
              <h4>Read more</h4>
            </figure>
            <h3><a href="#" title="{{ item.title }}">{{ item.title }}</a></h3>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
