---
layout: default
body_class: front
---
<section class="hero" style="background-image: url(assets/images/hero/1H6A1950.JPG)">
  <div class="inner">
    <div class="copy">
      <h1>The Future of Ethiopian Professionals</h1>
      <p>Securing the skills necessary to build a community for the next generation of thinkers and leaders.</p>
    </div>
  </div>
</section>

{% include callout.html %}

<!-- latest -->
<div class="prose bg-gray">
  <div class="container pad-by-100">
    <div class="cards">
      <div class="row">
        <div class="col-sm-12 text-center margin-bottom-4">
          <h2 class="h1 section-head">Latest from YEP</h2>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="card-item panel">
            <h3>News Media</h3>
              {% assign items = site.data.news %}
              {% for item in items %}
                <div class="">
                  <h5 style="font-weight:bold">{{ item.title }}</h5>
                  <p style="font-size:12px">{{ item.desc }}</p>
                </div>
              {% endfor %}
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="card-item panel">
            <a class="twitter-timeline" data-width="300" data-height="500" data-chrome="nofooter transparent" href="https://twitter.com/YEPnetworks">Tweets by YEPnetworks</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="card-item panel">
            <div class="fb-page" data-href="https://www.facebook.com/YourEthiopianProfessionals/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/YourEthiopianProfessionals/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/YourEthiopianProfessionals/">Your Ethiopian Professionals Network - YEP</a></blockquote></div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
