<section id="programs-callout">
  <div class="container">
    <h2 class="h1 section-head">Get Involved</h2>
    <p class="intro">Protecting the source, inspiring the future</p>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="card">
          <figure>
            <img src="/assets/images/programs_callout_1.jpg">
          </figure>
          <div class="copy-holder">
            <h3>Up to Us Education Program</h3>
            <p>Transform your world through a Pachamama Alliance workshop, including our flagship Awakening the Dreamer
              program.
              <br>
              <a href="/engage" class="has-mp-click btn btn-donate" data-event-label="Click Up to Us Learn More Button">Learn More</a>
            </p>
          </div>
        </div>
      </div>
      <!-- /.col -->
      <div class="col-xs-12 col-md-4">
        <div class="card">
          <figure>
            <img src="/assets/images/programs_callout_2.jpg">
          </figure>
          <div class="copy-holder">
            <h3>Journey to the Amazon</h3>
            <p>Accept the invitation of our indigenous partners and journey with us to their ancestral rainforest home.
              <br>
              <a href="/journeys" class="has-mp-click btn btn-donate" data-event-label="Click Journeys Learn More Button">Learn More</a>
            </p>
          </div>
        </div>
      </div>
      <!-- /.col -->
      <div class="col-xs-12 col-md-4">
        <div class="card">
          <figure>
            <img src="/assets/images/programs_callout_3.jpg">
          </figure>
          <div class="copy-holder">
            <h3>Take a Stand for Life Itself</h3>
            <p>Our advocacy initiatives in the Amazon forward a new worldview that respects the rights of indigenous peoples
              and rights of Nature.
              <br>
              <a href="/advocacy" class="has-mp-click btn btn-donate" data-event-label="Click Advocacy Learn More Button">Learn More</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
