<section id="programs-callout">
  <div class="container">
    <h2 class="h1 section-head">Get Involved</h2>
    <p class="intro">Building a community, inspiring the future</p>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="card">
          <figure>
            <img src="/assets/images/programs_callout_1.jpg">
          </figure>
          <div class="copy-holder">
            <h3>Career Development Program</h3>
            <p>
            The Career Development Program provides a platform to help members
            in their career development journey, from finding and gaining
            employment through progressing towards individual career goals.
            <br>
            <a href="#" class="has-mp-click btn btn-donate">Learn More</a>
            </p>
          </div>
        </div>
      </div>
      <!-- /.col -->
      <div class="col-xs-12 col-md-4">
        <div class="card">
          <figure>
            <img src="/assets/images/programs_callout_2.JPG">
          </figure>
          <div class="copy-holder">
            <h3>Diaspora and Community Engagement</h3>
            <p>
            The Diaspora and Community Engagement (DCE) Program looks to
            strengthen community relations and support the development of a
            cohesive network.
            <br>
            <a href="#" class="has-mp-click btn btn-donate">Learn More</a>
            </p>
          </div>
        </div>
      </div>
      <!-- /.col -->
      <div class="col-xs-12 col-md-4">
        <div class="card">
          <figure>
            <img src="/assets/images/programs_callout_3.jpg">
          </figure>
          <div class="copy-holder">
            <h3>Professional Mentorship</h3>
            <p>
            The Professional Mentorship program enables a one-on-one professional learning relationship between a
            mentor and mentee for members to expand their knowledge, leadership
            skills and enhance professional competencies.
            <br>
            <a href="#" class="has-mp-click btn btn-donate">Learn More</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
