<footer class="footer container" role="contentinfo">
  <div class="col-md-12">
    <div class="col-md-6">
      <div class="region region-footer">
        <nav role="navigation">
          <ul class="menu nav">
            <li>
              <a class="is-active" href="/">Home</a>
            </li>
            <li>
              <a href="/about">About YEP</a>
            </li>
            <li>
              <a href="http://yepnetwork.org/what-yep-offers.html">Our Goal</a>
            </li>
            <li>
              <a href="/contact">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="copy col-md-6">
      Copyright &copy; 2012-2017 Your Ethiopian Professionals Network (YEP).
    </div>
  </div>
</footer>
