<div class="row">
  <div class="col-sm-12 text-center margin-bottom-4">
    <h2 class="margin-bottom-4 margin-top-0">Programs</h2>
  </div>
  {% for program in site.programs limit:include.limit %}
    <div class="col-sm-4 col-centered">
      <div class="panel panel-default padding-4 text-center program-panel">
        <div class="panel-icon">
          <i class="fa fa-book"></i>
        </div>
        <h4><a href="{{ program.url | prepend: site.baseurl }}">{{ program.title }}</a></h4>
        <p>{{ program.excerpt | strip_html | truncatewords:35 }}</p>
      </div>
    </div>
  {% endfor %}
</div>
