
<div id="sitehead">
  <div class="container">
    <div class="navbar-header">
      <a href="/" title="logo">
        <img src="{{ "/assets/images/logo.png" | prepend: site.baseurl" id="logo" alt="The {{ site.title }}">
      </a>
    </div>
     <div class="navbar-right hidden-xs">
      <!--<div class="utilitynav">
       <span class="fac-hub"><a href="https://yepnetwork.github.io/" class="fac-hub">YEP Community</a></span> 
      </div>
       <div class="supernav"> -->
       <ul class="nav" role="navigation">
           <li class="donate"><a href="/donate" class="has-mp-click" data-event-label="Click Donate Button in Header">Support</a></li>
          <!-- 
           <li class="Volunteer"><a href="/volunteer" class="has-mp-click" data-event-label="Click Volunteer Button in Header">Volunteer</a></li>
           <li class="Member"><a href="/join" class="has-mp-click" data-event-label="Click Donate Button in Header">Join</a></li> 
           -->
        </ul> 
      </div>
    </div>
  </div>
</div>

