<section id="slider">
  <div style="width: 100%;" class="metaslider metaslider-responsive metaslider-37551 ml-slider hidden-xs">
    <div id="metaslider_container_37551">
      <div id='metaslider_37551' class='carousel slide' data-ride='carousel'>
        <div class='carousel-inner'>
          <div class='item active'>
            <img src="/assets/images/Canoe_Sacred_Headwaters-0x0.jpg" alt="" class="slider-37551 slide-49266"
            />
            <div class="carousel-caption">
              <div style="padding:15px;background: rgba(0, 0, 0, 0.6);">
                <h3>The Future of Ethiopian Professionals</h3>
                <p>Securing the skills necessary to build a community for the next generation of thinkers and leaders.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
    </script>
  </div>
</section>
