<div class="container video-list">
  <div class="row">
    <div class="col-md-12">
      {% assign videos = site.data.videos | sort: 'channelTitle' %}
      {% for video in videos %}
      <div class="col-md-4">
        <div class="card">
          {% if video.thumbnail != "" %}
          <!--Card image-->
          <div class="view overlay hm-white-slight">
            <img src="{{ video.thumbnail }}" class="img-fluid" alt="">
            <a target="_blank" href="{{ video.url }}">
              <div class="mask"></div>
            </a>
          </div>
          <!--/.Card image-->
          {% endif %}
          <div class="card-block">
            <!-- Author -->
            <h4 class="card-title">{{ video.title }}</h4>
            <!-- /.Author -->

            <p class="card-text">{{ video.desc }}</p>
            <a href="#modal{{ video.videoId }}" role="button" class="link-text" data-toggle="modal"><h5>Watch <i class="fa fa-chevron-right"></i></h5></a>
          </div>
          <div class="modal fade" id="modal{{ video.videoId}}" style="display: none;">
            <div class="modal-dialog" style="width: 725px; max-width: 100%; padding: 20px;">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">x</span>
                    <span class="sr-only">Close</span>
                  </button>
                  <h4 class="modal-title">{{ video.title }}</h4>
                </div>
                <div class="modal-body">
                  <iframe id="player" type="text/html" width="640" height="390"
                    src="http://www.youtube.com/embed/{{ video.videoId }}?enablejsapi=1"
                    frameborder="0">
                  </iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
        <script>
          $( document ).ready(function() {
            $("#modal{{ video.videoId }}").on('hidden.bs.modal', function (e) {
              $("#modal{{ video.videoId }} iframe").attr("src", $("#modal{{ video.videoId }} iframe").attr("src"));
            });
          });
        </script>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
