// Event landing card style.
body.diaspora {
  .card-grid {
    .story {
      margin-bottom: 2em;

      figure {
        max-height: 300px;
        min-height: 200px;
        overflow: hidden;
        @media only screen and (max-width : 768px) {
          max-height: none;
          min-height: 200px;
        }
      }

      .col-sm-3 {
        padding-left: 0; // Remove whitespace on left.
        @media only screen and (max-width : 768px) {
          padding-right: 0;
        }
      }

      .blurb {
        margin-top: 1.5em;
      }

      .cta {
        margin-top: 1.5em;
      }
    }
  }
}

.diaspora-detail {
  h2 {
    margin: 2em 0;
  }

  h3 {
    font-weight: bold;
  }

  .diaspora-profile-sidebar {
    > .profile-image {
      max-width: 200px;
      min-width: 200px;
      overflow: hidden;
    }
  }
}
