// Event landing card style.
body.diaspora {
  .card-grid {
    figure {
      max-height: 300px;
      min-height: 200px;
      overflow: hidden;
    }

    .card {

      .desc {
      }
    }
  }
}

.diaspora-profile-sidebar {
  > .profile-image {
    max-width: 200px;
    min-width: 200px;
    overflow: hidden;
  }
}
