// Event landing card style.
body.diaspora {
  .card-grid {
    figure {
      max-height: 300px;
      min-height: 200px;
      overflow: hidden;
    }

    .card {

      .desc {
      }
    }
  }
}
