.events-panel {
  min-height: 380px;
  margin-bottom: 2em;
}

body.events {
  .hero {
    position: relative;
    background-image: url(/assets/images/events/summer-gala-2017-02.png);
    background-size: cover;
    background-position: center -50px;
    background-attachment: fixed;

    h2 {
      color: #fff;
      margin-top: 0;
    }
    h4 {
      color: #fff;
      font-weight: 400;
      opacity: .5;
    }

    .hero-overlay {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.53)
    }
    .hero-content-wrapper {
      padding: 100px 0;
      position: relative;
    }
  }
}

/*
body.events {
  .hero {
    position: relative;
    background-image: url(/assets/images/team.jpg);
    background-size: cover;
    background-position: center -70px;
    background-attachment: fixed;

    .image-overlay {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.53);
    }

    .content-wrapper {
      padding: 125px 0;
      position: relative;

      h2 {
        color: #fff; margin-top: 0;
      }
      h4 {
        color: #fff; font-weight: 400; opacity: .5;
      }
    }
  }

  .panel {
    min-height: 380px;
  }
}
*/
