// Event landing card style.
body.events {
  .overview {
    .card {
      figure {
        max-height: 179px;
        min-height: 179px;
        overflow: hidden;
      }

      h3 {
        font-size: 1.5rem;
      }
    }
  }
}
