// Test hero style for front page.
#hero-home {
  border-top: 1px solid lighten( $site-secondary-color, 20% );
  background: $site-secondary-color;
  overflow: hidden;
  margin: 0;

  h2,
  p,
  .hero-meta,
  a {
    color: #fff;
  }

  .container {
    > .col-md-12 {
      padding: 0;
    }
  }

  .content-left {
    padding-top: 3em;
  }

  .hero-date {
    border-bottom: 4px solid #07aff1;
    color: #eaeaea;
    display: inline-block;
    padding-bottom: 5px;
    text-transform: uppercase;
  }

  .hero-cta {
    margin-top: 22px;
    border: 2px solid #fff;
    color: #fff;
    background: transparent;
  }
}

// Old hero style. Commented out in events landing page.
// Remove once we have a set hero style.
#hero {
  position: relative;
  background-image: url(/assets/images/events/summer-gala-2017-02.png);
  background-size: cover;
  background-position: center 0px;
  background-attachment: fixed;

  h2 {
    margin-top: 0;
    line-height: 1.1;
    margin-top: 0;
    color: #FFF;
    font-size: 50px;
    font-size: 3.8rem;
    font-weight: 500;
    text-shadow: 0 0 3px rgba(0,0,0,.3);
    margin-bottom: 20px;
  }
  h4 {
    color: #fff;
    font-weight: 400;
    opacity: .5;
  }

  .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.53)
  }
  .hero-content-wrapper {
    padding: 140px 0;
    position: relative;
  }
}

#hero-front {
  .hero-content-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;

    img {
      line-height: 1;
      display: block;
      max-width: 100%;
      height: auto;
    }

    .hero-caption {
      position: absolute;
      text-align: left;
      text-shadow: none;
      bottom: auto;
      top: 15%;
      width: 600px;
      right: 20%;
      left: 20%;
      padding-bottom: 30px;
      z-index: 10;
      padding-top: 20px;
      color: #fff;

      h3 {
        line-height: 1.1;
        margin-top: 0;
        color: #fff;
        font-size: 3.8rem;
        font-weight: 500;
        text-shadow: 0 0 3px rgba(0,0,0,.3);
      }
    }
  }
}

// See https://codepen.io/dropside/pen/bxhke.
.hero {
  background: url(../assets/images/hero/IMG_0714.JPG);
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;

  text-align:center;
  position:relative;
  width: 100%;

  > .inner {
    background: rgba(0, 0, 0, 0.53);
    min-height: 336px;
    position: relative;

    > .copy {
      position: absolute;
      top: 65%;
      @media only screen and (max-width : 768px) {
        top: 45%;
      }
      height: 5em;
      margin-top: -5em;
      width: 100%;
    }
  }

  h1 {
    margin-top: 0px;
    padding:0px 20px;
  }

  h1,
  p {
    color:#fff;
    padding: 0px 20px;
  }
}
