---
layout: default
---
<div class="container pad-by-50">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="margin-top-0 margin-bottom-2">{{ page.title }}</h2>
    </div>
    <div class="col-sm-7">
      <p>{{ page.description }}</p>
    </div>
 <!--   <div class="col-sm-1"></div>
    <div class="col-sm-4">
      <div class="medias">
        <div class="media-body">
          <div class="" style="margin-bottom: 0.5em">
            <img src="/assets/images/misc/vacant.jpg">
          </div>
          <div class="bold">{{ page.manager }}</div>
          <p class="text-muted">Program Manager</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  {{ content }}

	<h3>Program Overview/ Description</h3>
	<h3>Program Mission</h3>
	<h3>Program Offerings</h3>
	<h3>Upcoming Events</h3>
	<h3>Past Events</h3>
	<h3>Call for Action</h3>
	<h3>Additional Resources</h3>
</div>
-->
